
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 800
}

p {
  color: #8f8f8f;
}

/*** headings ***/
.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  /* font-weight: 800; */
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #ffffff;
}
/*** navigation-bar ***/

.navbar {
  padding: 0 0 4.5rem; /*( padding: top left-right bottom; )*/
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.2rem;
}

/*** title-section ***/
#title {
  text-align: left;
}
#title .container-fluid {
  padding: 3% 15% 8.5%;
}

/*** downlaod-button ***/
.downlaod-button {
  margin: 5% 3% 5% 0;
}

/*** title-image ***/

.title-image {
  transform: rotate(25deg);
  /* margin: 50px 25px; */
  width: 56%;
  position: absolute;
  z-index: 1;
  right: 30%;
}

/*** features-section ***/

#features {
  position: relative;
  z-index: 2;
}

.feature-title {
  font-size: 1.5rem;
}
.feature-box {
padding: 5%;
}

.fontawesome-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.fontawesome-icon:hover {
  color: #ff4c68;
}

/*** testimonials-section ***/

#testimonials {
  /* padding: 7% 13%; */
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


/*** press-section ***/

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 23px 50px; /*margin: top left-right bottom;*/
}

/***  pricing-section***/

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/** Call to Action section **/

/* #cta {

  background-color: #ff4c68;
  color: #ffffff;
} */


/** footer-section **/

/* #footer {
  background-color: #ffffff;
} */

.footer-icon {
  margin: 1.2rem 0.6rem;
}

/***  css media-query-breakpoints***/
@media (max-width: 992px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
